/* fonts */

@font-face {
    font-family: HelveticaNeue;
    src: url("./fonts/PragmaticaMedium.otf");
}

@font-face {
    font-family: Noto Sans;
    src: url("./fonts/NotoSans-hinted/NotoSans-Condensed.ttf");
}

@font-face {
    font-family: Minecraft-Ten;
    src: url("./fonts/MinecraftTen-VGORe.ttf");
}

html, body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    font-family: Helvetica,Arial,sans-serif;
}

/* Menu login */

.menu_login {
    font-family: Arial, Helvetica, sans-serif;
    width: 100%;
    background-color: black;
}

.container{
    width: 1140px;
    max-width: 100%;
    margin-right: auto;
    margin-left: auto;
    padding-right: 15px;
    padding-left: 15px;
}

.list_connect {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-start;

}

.list_connect li {
    list-style-type: none;
    padding: 5px;
    font-size: 13px;
}

.list_connect li a{
    color: white;
    text-decoration: none;
    display: inline-block;
    font-size: 15px;
    text-transform: uppercase;
    font-weight: bold;
    color: #FFF;
    padding-right: 10px;
}

.fa-arrow-left {
    margin-right: 5px;
}

/* Header */

.menu-container {
    background: url(./picture/972abdec3b7c5285812aa684bc5b81ca077805ee.png);
    background-repeat: repeat;
    background-size: cover;
}

.containerform{
    width: 100%;
    height: 10vh;
    position: relative;
    display: flex;
    justify-content: center;
}

.menu{
    width: 100%;
    height: 100%;
    text-align: center;
    position: absolute;
    top: 44%;
    z-index: 1;
}


.menu img{
    width: 20%;
    image-rendering: pixelated;
}

.search-container form {
    float: right;
}

.search-container {
    margin-top: 2%;
}

.searchmenu{
    height: 100%;
    width: 50%;
    z-index: 2;
}

.searchmenu input[type=text] {
    float: left;
    padding: 6px;
    border: none;
    margin-top: 8px;
    font-size: 17px;
  }
  
.searchmenu .search-container button {
    padding: 6px 10px;
    margin-top: 8px;
    background: #36b030;
    border-color: #9ad497 #9ad497 #247721 #247721;
    font-size: 17px;
    border: none;
    cursor: pointer;
}
  
.searchmenu .search-container button:hover {
    background: #ccc;
}
  

/* Formulaire */

section {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 108px 0 100px 0
}

section h1 {
    font-weight: bold;
    font-size: 36px;
    margin-bottom: 0;
    font-family: Minecraft-Ten;
    line-height: 45px;
    color: #262422;
    text-align: center;
}

.formtext{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    margin: auto;
    width: 66%;
}

section .para {
    margin-top: 2px;
    color: #333;
    font-size: 15px;
}

.mineform {
    display: flex;
    margin: auto;
    flex-direction: column;
    align-items: flex-start;
    width: 66%;
}

.mineform p {
    color: #808080;
    font-size: 13px;
    margin: -5px 0 6px 0;
}

.mineform label{
    margin: 25px 0 5px 0;
    font-size: 15px;
    font-family: Noto Sans;
    color: #333;
}

.mineform label.required::after{
    content: "*";
    color: #f00;
    margin-left: 2px;
}

.mineform select, .mineform input[type="text"]{
    width: 100%;
    height: 40px;
    font-size: 20px;
    color: #333;
    font-family: Noto Sans;
    border: 1px solid #ddd;
}

.mineform textarea{
    min-width: 100%;
    max-width: 100%;
    min-height: 120px;
    margin: 5px 0 5px 0;
    border: 1px solid #ddd;

}

.mineform .filejoint{
    width: 100%;
    border: 2px dashed #d8d8d8;
    height: 100px;
    font-size: 12px;
    overflow: hidden;
    position: relative;
    text-align: center;
}

.mineform input[type=file] {
    opacity: 0;
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    height: 100%;
    width: 100%;
}

.mineform span {
    display: inline;
    vertical-align: middle;
    line-height: 24px;
    padding: 10px;
    color: #666;
    font-size: 12px;
}

.mineform span a{
    color: #018944;
}

.mineform input[type="submit"] {
    font-family: "Noto Sans";
    font-weight: 600;
    font-size: 16px;
    padding: 0 20px;
    color: white;
    line-height: 36px;
    border: 0;
    cursor: pointer;
    background-color: rgba(1, 137, 68, 1);
}

.mineform input[type="submit"]:hover{
    background-color: #002412;
}

.formsubmit {
    display: flex;
    width: 100%;
    margin-top: 0;
    padding-top: 30px;
    flex-direction: column;
    align-items: flex-end;
}

/* Footer */

.row{
    display: flex;
}

.minecraft-footer{
    background: #000;
    color: #757575;
    padding: 44px 0 25px;
}

.footer_mojang {
    margin-right: auto;
    margin-left: auto;
    width: 1140px;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.position-relative {
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
}

.footer_mojang_mark {
    position: relative;
    width: 100%;
    min-height: 1px;
    -webkit-box-flex: 0;
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.footer_mojang_mark a{
    line-height: 14px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    padding-top: 0px;
}

.footer_mojang_mark img.microsoft {
    width: 90px;
    height: 50px;
    margin-left: 16px;
    margin-top: 0px;
}

.footer_mojang_mark.text{
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-flex: 0;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    width: 100%;
    min-height: 1px;
}

.footer_mojang_text{
    font-size: .75rem;
    text-align: center;
}

.footer_mojang_text p{
    font-size: .75rem;
    color: #757575;
}

.footer_mojang_text a{
    text-decoration: none;
    display: inline-block;
    padding-top: 0px;
    vertical-align: top;
    color: rgba(1, 137, 68, 1);
    background-color: transparent;
}

.footer_mojang ul {
    padding-right: 0;
    margin: 0 -2px;
    border-right: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    justify-content: center;
}

.footer_mojang ul li{
    border-right: 1px solid #d1cfce;
    padding: 0 .5em;
}

.footer_mojang ul li a{
    color: #d1cfce;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    padding-top: 0px;
}

.footer_mojang_violence{
    width: 100%;
    min-height: 1px;
    -webkit-box-flex: 0;
    position: absolute;
    flex: 0 0 25%;
    max-width: 25%;
    right: 0;
    top: 0;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
}

.footer_mojang_violence img {
    height: 78px;
    width: 120px;
}

/* MS Footer */

.ms-footer{
    padding: 2rem 0;
    background-color: #313131;
}

.footer_microsoft{
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

.footer_microsoft_country {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    -webkit-box-flex: 0;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    width: 100%;
    min-height: 1px;
}

.footer_microsoft_country a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}

#line-globe{
    width: 30px;
}

.footer_microsoft_politics{
    text-align: center;
    -webkit-box-flex: 0;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    width: 100%;
    min-height: 1px;
}

.footer_microsoft_politics ul{
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.footer_microsoft_politics ul li{
    color: #FFF;
    font-size: 12px;
}

.footer_microsoft_politics ul li:not(:last-child) {
    margin-right: .5rem;
    display: inline-block;

}

.footer_microsoft_politics ul li a{
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

.footer_microsoft_logo img{
    width: 150px;
}