/* fonts */

@font-face {
    font-family: HelveticaNeue;
    src: url("./fonts/PragmaticaMedium.otf");
}

@font-face {
    font-family: Noto Sans;
    src: url("./fonts/NotoSans-hinted/NotoSans-Regular.ttf");
}

@font-face {
    font-family: Segoe UI;
    src: url("./fonts/Segoe\ UI.woff");
}

html, body {
    margin: 0;
    padding: 0;
    top: 0;
    left: 0;
    width: 100%;
    font-family: Helvetica,Arial,sans-serif;
}

/* Menu login */

.list_connect {
    margin: 0;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color: black;
}

.menu-990{
    display: none;
}

.list_connect li {
    list-style-type: none;
    padding: 5px;
    font-size: 13px;
}

.list_connect li:nth-child(2){
    width: 20%;
}

.list_connect li a{
    color: white;
    text-decoration: none;
}

.list_connect li a:hover{
    color: #84c94c;
}

/* Header */

header{
    background-image: url("./picture/bg-wool-dark.png");
    background-position-x: center;
    background-position-y: top;
    background-size: auto;
    height: auto;
    font-family: "Noto Sans", "HelveticaNeue", Arial;
    z-index: 999;
}

header div {
    display: flex;
    flex-direction: row;
    align-items: center;
}

header div .img_anchor {
    width: 16%;
    padding: 16px;
    margin-inline-start: 21%;
}

header .menu_logo{
    width: 90%;
}

header .menu_logo:active{
    transform: scale(1.2);
}

.list_content {
    margin: 0;
    display: flex;
}

.list_content li {
    list-style-type: none;
    padding-left: 70px;
    font-size: 15px;
    display: flex;
    align-items: center;
}

.list_content li a {
    display: flex;
    color: white;
    text-decoration: none;
    padding: 0px 0 10px 10px;
    align-items: center;
}

.list_content li a img {
    padding-right: 10px;
}

.list_content li a:hover {
    color: #84c94c;
}

.sticky {
    position: fixed;
    top: 0;
    width: 100%
  }

/* Content Principal */



/* Premiere Section */

.first_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    background-color: #202020;
    height: 65vh;
}

.first_section_bg{
    background-image: url('./picture/home-hero-1200x600.webp');
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 65%;
}

.first_section_content {
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    color: white;
    width: 50%;
    height: 65%;
    margin-top: 100px;
    margin-left: 100px;
}

.first_section_content h1{
    width: 50%;
    font-weight: 700;
    font-size: 40px;
    line-height: 40px;
    letter-spacing: 1px;
}

.first_section_content p{
    width: 85%;
    font-size: 22px;
    line-height: 26px;
}

.first_section_content button {
    cursor: pointer;
    background-color: #34aa2f;
    color: white;
    font-size: 20px;
    font-family: HelveticaNeue,Helvetica,Arial,sans-serif;
    padding: 20px 60px 20px 60px;
    border: solid 5px;
    border-color: #9ad497 #9ad497 #247721 #247721;
    margin: 25px 0;
}

.first_section_content button:hover{
    background-color: #313131;
    border-color: #5a5a5a #5a5a5a #181818 #181818;
}

/* Deuxième Section */

.second_section {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    background-image: url('./picture/bg-wool-dark.png');
}

.second_section_bg{
    background-color: white;
    width: 55%;
    height: 80%;
    padding: 35px 100px;
    margin: 50px;
}

.second_section_title {
    padding: 20px 0;
    font-size: 25px;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    text-align: center;
}

.second_section_slideshow {
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.slideshow_button button{
    cursor: pointer;
    background-color: #008542;
    color: white;
    font-size: 20px;
    font-family: HelveticaNeue,Helvetica,Arial,sans-serif;
    padding: 5px 10px;
    border: solid 5px;
    border-color: #62fc1f #32c130 #0a7821 #0a7821;
    box-shadow: 0px 5px #cbcbcb;
    transition: border-color 0.5s ease-in-out;
}

.slideshow_button button:hover{
    background-color: #008542;
    padding: 5px 10px;
    border: solid 5px;
    border-color: #339e68 #339e68 #004221 #004221;
}

.slideshow_content {
    text-align: center;
    margin: 10px;
    display: flex;
    margin: 10px;
    flex-direction: column;
    align-items: center;
}

.slideshow_content a{
    color: #196d17;
    text-decoration: none;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
}

.slideshow_content a img:hover{
    color: black;
    text-decoration: none;
}

.slideshow_content a:hover{
    color: black;
    text-decoration: underline;
}

.slideshow_content p {
    cursor: default;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    width: 80%;
}

.second_section_slideshow img {
    width: 216px;
    height: 334px;
    transition: transform 0.5s ease-in-out;
}

.second_section_slideshow img:hover {
    transform: scale(1.05);
    border: solid 2px #84c94c;
}

/* Troisième Section */

.third_section {
    display: flex;
    background-image: url('./picture/bg-wool-dark.png');
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.third_section::after {
    content: "";
    height: 100px;
    background-image: url('./picture/bg-wool-dark.png');
    width: 100%;
}

.third_section_bg {
    text-align: center;
    margin-bottom: 50px;

}

.third_section_title h2{
    font-size: 35px;
    color: white;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    margin: 0 0 50px 0;
}

.third_section_slideshow {
    display: flex;
    align-items: center;
}

.third_section_slideshow_content a, .third_section_slideshow_content h3{
    margin: 0;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 25px;
    color: white;
    text-decoration: none;
}

.third_section_slideshow_content a:hover h3{
    color: #84c94c;
}

.third_section_slideshow_content img{
    border: solid 2px white;
    margin: 10px;
    width: 277px;
    height: 157px;
}

.third_section_slideshow_content img.bigger{
    width: 333px;
    height: 213px;
}

.third_section_slideshow_content img:hover{
    border: solid 2px #84c94c;
}

/* Quatrième Section */

.fourth_section {
    display: flex;
    background-image: url("./picture/bg-wool-light.png");
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fourth_section::before{
    content: "";
    height: 75px;
    background-image: url("./picture/trans-top-darkwool.png");
    width: 100%;
}

.fourth_section::after{
    content: "";
    height: 100px;
    background-image: url("./picture/trans-bottom-darkwool.png");
    width: 100%;
}

.fourth_section_bg{
    width: 50%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
}

.fourth_section_content{
    margin: 30px;
}

.fourth_section_content.right{
    width: 100%;
    height: 34%;
    display: flex;
    flex-direction: row;
}

.fourth_section_content.left{
    width: 100%;
    height: 34%;
    display: flex;
    flex-direction: row-reverse;
}

.fourth_section_content h2{
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 28px;
    line-height: 34px;
}

.fourth_section_content_text {
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    margin-left: 30px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
}

.fourth_section_content_text a{
    color: #4d702a;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 15px;
    line-height: 20px;
}

.fourth_section_content_text a::before{
    content: "";
    background: url("https://www.minecraft.net/etc.clientlibs/minecraft/clientlibs/main/resources/img/link-arrow.svg") no-repeat;
    width: 15px;
    height: 15px;
    padding-left: 22px;
    background-size: 15px;
    background-position-y: 2px;
}

.fourth_section_content img {
    width: 475px;
    height: 285px;
}

/* Cinquième Section */

.fifth_section {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.fifth_section::before {
    content: "";
    height: 150px;
    background-image: url("./picture/bg-wool-dark.png");
    width: 100%;
}

.fifth_section_contents{
    display: flex;
    flex-direction: column;
    align-items: center;
}

.fifth_section_creation{
    display: flex;
    text-align: center;
    flex-direction: column;
    align-items: center;
}

.fifth_section_creation h2{
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    color: #252525;
    font-weight: 700;
    font-size: 28px;
    line-height: 34px;
    padding-top: 75px;
    margin: 0;
}

.fifth_section_creation p {
    font-size: 16px;
    line-height: 20px;
    font-family: "Noto Sans";
    width: 55%;
    margin: 15px 0 0 0;
}

.fifth_section_creation a{
    color: #4d702a;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    text-decoration: none;
    font-weight: bold;
    font-size: 20px;
    line-height: 20px;
    margin: 35px;
}

.fifth_section_creation a::before{
    content: "";
    background: url("https://www.minecraft.net/etc.clientlibs/minecraft/clientlibs/main/resources/img/link-arrow.svg") no-repeat;
    padding-left: 22px;
    background-size: 20px;
    background-position-y: 2px;
}

.fifth_section_creation_img ul{
    display: flex;
    list-style: none;
}

.fifth_section_creation_img ul li{
    margin: 5px;
    overflow: hidden;
}


.fifth_section_creation_img img{
    width: 270px;
    height: 270px;
    transition: transform .5s ease;
    object-fit: cover;
}

.fifth_section_creation_img img:hover{
    transform: scale(1.1);
}

.fifth_section_creation_img figure {
    margin: 0;
    position: relative;
    width: 100%;
}

.fifth_section_creation_img figcaption {
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    color: white;
    background: rgba(0, 0, 0, 0.5);
    bottom: 0;
    position: absolute;
    width: 100%;
    overflow: hidden;
    height: 25%;
    text-align: center;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    align-content: center;
}

.fifth_section_creation_img figcaption h3{
    font-size: .875rem;
    width: 90%;
}

.fifth_section_creation_img figcaption p{
    display: none;
}

.fifth_section_creation_img figure:hover figcaption {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 50%;
    transition: height .5s ease-in-out;
}

.fifth_section_creation_img figure:hover figcaption p{
display: block;
}

.fifth_creation_more{
    margin: 50px;
}

.fifth_creation_more button{
    cursor: pointer;
    background-color: #34aa2f;
    color: white;
    font-size: 20px;
    font-family: HelveticaNeue,Helvetica,Arial,sans-serif;
    padding: 10px 35px 10px 35px;
    border: solid 5px;
    border-color: #9ad497 #9ad497 #247721 #247721;
    margin: 25px 0;
}

.fifth_creation_more button:hover{
    background-color: #313131;
    border-color: #5a5a5a #5a5a5a #181818 #181818;
}

.fifth_creation_follow {
    margin-top: 25px;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 50px;
}

.fifth_creation_follow p{
    font-family: "Noto Sans";
    font-weight: 700;
    margin: 0;
    font-size: 24px;
    line-height: 24px;
}

.fifth_creation_follow button {
    cursor: pointer;
    background-color: #34aa2f;
    color: white;
    font-size: 20px;
    font-family: HelveticaNeue,Helvetica,Arial,sans-serif;
    padding: 5px 10px;
    border: solid 5px;
    border-color: #9ad497 #9ad497 #247721 #247721;
    margin: 25px 7px;
}

.fifth_creation_follow button:hover{
    background-color: #008542;
    padding: 5px 10px;
    border: solid 5px;
    border-color: #339e68 #339e68 #004221 #004221;
}

.fifth_creation_platform {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 50px 0 25px 0;
}

.fifth_creation_platform p{
    font-family: "Noto Sans",Helvetica,Arial,sans-serif;
    width: 50%;
    font-style: italic;
    font-size: .875rem;
    text-align: center;
    font-weight: lighter;
}

/* Footer */

.row{
    display: flex;
}

.minecraft-footer{
    background: #000;
    color: #757575;
    padding: 44px 0 25px;
}

.footer_mojang {
    margin-right: auto;
    margin-left: auto;
    width: 1140px;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.position-relative {
    position: relative;
    margin-right: -15px;
    margin-left: -15px;
    display: flex;
    flex-wrap: wrap;
}

.footer_mojang_mark {
    position: relative;
    width: 100%;
    min-height: 1px;
    -webkit-box-flex: 0;
    text-align: center;
    flex: 0 0 100%;
    max-width: 100%;
    padding-right: 15px;
    padding-left: 15px;
}

.footer_mojang_mark a{
    line-height: 14px;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    padding-top: 0px;
}

.footer_mojang_mark img.microsoft {
    width: 90px;
    height: 50px;
    margin-left: 16px;
    margin-top: 0px;
}

.footer_mojang_mark.text{
    padding-top: 10px;
    padding-bottom: 10px;
    flex: 0 0 100%;
    max-width: 100%;
    -webkit-box-flex: 0;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    width: 100%;
    min-height: 1px;
}

.footer_mojang_text{
    font-size: .75rem;
    text-align: center;
}

.footer_mojang_text p{
    font-size: .75rem;
    color: #757575;
}

.footer_mojang_text a{
    text-decoration: none;
    display: inline-block;
    padding-top: 0px;
    vertical-align: top;
    color: rgba(1, 137, 68, 1);
    background-color: transparent;
}

.footer_mojang ul {
    padding-right: 0;
    margin: 0 -2px;
    border-right: none;
    display: flex;
    flex-wrap: wrap;
    padding-left: 0;
    list-style: none;
    justify-content: center;
}

.footer_mojang ul li{
    border-right: 1px solid #d1cfce;
    padding: 0 .5em;
}

.footer_mojang ul li a{
    color: #d1cfce;
    text-decoration: none;
    display: inline-block;
    vertical-align: top;
    padding-top: 0px;
}

.footer_mojang_violence{
    width: 100%;
    min-height: 1px;
    -webkit-box-flex: 0;
    position: absolute;
    flex: 0 0 25%;
    max-width: 25%;
    right: 0;
    top: 0;
    text-align: center;
    padding-right: 15px;
    padding-left: 15px;
}

.footer_mojang_violence img {
    height: 78px;
    width: 120px;
}

/* MS Footer */

.ms-footer{
    padding: 2rem 0;
    background-color: #313131;
}

.footer_microsoft{
    width: 1140px;
    margin-right: auto;
    margin-left: auto;
}

.footer_microsoft_country {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    -webkit-box-flex: 0;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    width: 100%;
    min-height: 1px;
}

.footer_microsoft_country a{
    color: white;
    text-decoration: none;
    font-size: 12px;
}

#line-globe{
    width: 30px;
}

.footer_microsoft_politics{
    text-align: center;
    -webkit-box-flex: 0;
    flex: 0 0 66.666667%;
    max-width: 66.666667%;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    width: 100%;
    min-height: 1px;
}

.footer_microsoft_politics ul{
    margin: 0;
    padding-left: 0;
    list-style: none;
}

.footer_microsoft_politics ul li{
    color: #FFF;
    font-size: 12px;
}

.footer_microsoft_politics ul li:not(:last-child) {
    margin-right: .5rem;
    display: inline-block;

}

.footer_microsoft_politics ul li a{
    color: #fff;
    font-size: 12px;
    text-decoration: none;
}

.footer_microsoft_logo img{
    width: 150px;
}

@media only screen and (max-width: 990px) {
    header{
        background-image: none;
        background-color: #000;
        height: auto;
        font-family: "Noto Sans", "HelveticaNeue", Arial;
        z-index: 999;
    }

    header .menu_logo {
        width: 70%;
    }

    header div {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: flex-end;
    }

    header div .img_anchor {
        width: 100%;
        margin-inline-start: 35%;
    }

    .menu-1920{
        display: none;
    }

    .menu-990{
        display: block!important;
        position: relative;
        top: 0;
        right: 0;
        left: 0;
        transition: all .4s ease-in-out;
        width: 100%;
    }

    .container {
        width: 98%;
    } 
    
    /* First Section Mobile */

    .first_section {
        width: 100%;
        background-image: url('./picture/home-hero-1200x600.webp');
        background-position: center;
        background-repeat: no-repeat;
        background-size: cover;
        height: 65vh;
    }
    
    .first_section_bg{

        height: 100%;
    }
    
    .first_section_content {
        font-family: "Noto Sans", Arial, Helvetica, sans-serif;
        color: white;
        width: 100%;
        height: 0%;
        margin-top: 15%;
        margin-left: -55px;
    }
    
    .first_section_content h1{
        width: 60%;
        font-weight: 700;
        font-size: 35px;
        line-height: 40px;
        letter-spacing: 1px;
    }
    
    .first_section_content p{
        width: 60%;
        font-size: 15px;
    }

/* Second Section Mobile */

    .second_section_title {
        padding: 20px 0;
        font-size: 20px;
        font-family: "Noto Sans", Arial, Helvetica, sans-serif;
        text-align: center;
    }

    .second_section_slideshow {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: center;
    }

    .second_section_slideshow .slideshow_button {
        margin-top: 20%;
    }

    .slideshow_content.three {
        display: none;
    }

    .slideshow_content p {
        cursor: default;
        font-family: "Noto Sans", Arial, Helvetica, sans-serif;
        width: 100%;
        font-size: 15px;
    }

/* Third Section 990px */

.third_section_title h2 {
    font-size: 30px;
    color: white;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    margin: 0 0 50px 0;
}

.third_section_slideshow_content img {
    border: solid 2px white;
    margin: 10px;
    width: 227px;
    height: 126px;
}

.third_section_slideshow_content a, .third_section_slideshow_content h3 {
    margin: 0;
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    text-align: center;
    font-size: 15px;
    color: white;
    text-decoration: none;
}

.third_section_slideshow_content img.bigger {
    width: 283px;
    height: 163px;
}

/* Fourth Section 990px */

.fourth_section_bg {
    width: 100%;
    height: 80%;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    padding: 25px;
}

.fourth_section_content.right {
    width: 80%;
    height: 34%;
    display: flex;
    flex-direction: row;
}

.fourth_section_content h2 {
    font-family: "Noto Sans", Arial, Helvetica, sans-serif;
    margin: 0;
    font-size: 28px;
    line-height: 34px;
    width: 77%;
}

.fourth_section p {
    width: 90%;
}

.fourth_section_content.left {
    width: 80%;
    height: 34%;
    display: flex;
    flex-direction: row-reverse;
}

.fourth_section_content img {
    width: 330px;
    height: 198px;
}

/* Fifth Section */

.fifth_section_creation_img ul {
    display: flex;
    list-style: none;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
}

.fifth_creation_platform p {
    font-family: "Noto Sans",Helvetica,Arial,sans-serif;
    width: 90%;
    font-style: italic;
    font-size: .875rem;
    text-align: center;
    font-weight: lighter;
}

/* Footer */

.footer_microsoft_politics {
    text-align: center;
    width: 0% !important;
    flex: 0 0 66.666667%;
    max-width: 50%;
    padding-right: 0px;
    padding-left: 0px;
    position: unset !important;
}

.footer_microsoft_country {
    flex: 0 0 16.666667%;
    max-width: 16.666667%;
    -webkit-box-flex: 0;
    padding-right: 15px;
    padding-left: 15px;
    position: relative;
    width: 100%;
    min-height: 1px;
    text-align: center;
}
}